---
//@ts-nocheck
import financialProjections from "@data/financialProjections.json";
import Cal from "@icons/cal.svg";
import Card from "@icons/card.svg";
import Law from "@icons/law.svg"
import Money from "@icons/money.svg"
import LeftArrow from "@icons/arrow-left.svg"
import RightArrow from "@icons/arrow--right.svg"
import Services from "./Services.astro";

const iconMap = {
  cal: Cal,
  card: Card,
  law: Law,
  money: Money,
};
console.log(financialProjections);
---

<section class="full-span gray">
  <div>
    <div>
      <h2>{financialProjections.title}</h2>
      <p>{financialProjections.subtitle}</p>
    </div>
    <div class="arrow-box">
      <div>
        <LeftArrow/>
      </div>
      <div>
        <RightArrow/>
      </div>
    </div>
</div>

<ul >
  {
    financialProjections.values.map((service) => {
      const Icon = iconMap[service.icon]; // Get the correct imported component
      return (
        <li class="card">
          {Icon && <Icon />}
          <h4>{service.title}</h4>
          <p>{service.description}</p>
        </li>
      );
    })
  }
</ul>
</section>
<style>
     @layer components {
section{
  padding-block: 60px;
  >:first-child{
    display: flex;
    gap: 20vw;
    align-items: center;
     .arrow-box{
    display: flex;
       gap: 15px;
       align-items: center;
       justify-content: center;
  >*{   
      border-radius:var(--svg-border-radius);
      background-color: var( --color-primary-01);
      width: 60px;
      height: auto;
      aspect-ratio: 1/1;
      display: flex;
      align-items: center;
      justify-content: center;
}
>:first-child{
  background-color: var(--color-primary-03);
  color: var(--color-secondary-01);
}
  }
  }
  
}

  ul {
    --scroll-padding: max(1rem, 50% - var(--content-width)/ 2);
    grid-column: 1 / -1;
    list-style: none;
    display: flex;
    gap: var(--card-gap);
    scroll-snap-type: x mandatory;
  overflow-x: auto;
       padding-inline: var(--scroll-padding);
       padding-block: 20px;
       scroll-padding-inline: var(--scroll-padding);
  
  >:nth-child(2){
    background-color:var(--card-background-color-02);
    color: var(--card-text-color-02);
    :first-child{
      color: var(--color-primary-01);
    }
  }
  }
  li{
    display: flex;
    flex-direction: column;
  padding: var(--card-padding);
background-color:var(--card-background-color-01);
  flex-basis: 33%;
  flex-shrink: 0;
     scroll-snap-align: start;
  scroll-snap-stop: always;
  >*{
  color: var(--card-text-color);
  }
  }}
</style>