---
//@ts-nocheck
---

<section>
    <div class="subscribe">
        <div>
        <h2>Subscribe Our Newsletter</h2>
        <p>Build stronger Customer Relationships with Consultalk</p>
        </div>
        <div>
        <input type="text">
        <a href="">Subscribe</a>
        </div>
    </div>
    <div>
        <h2>AskExperts</h2>
        <hr>
        <p>©2025 Consultalk. All rights reserved | Terms of Service | Privacy Policy</p>
    </div>
</section>




<style>
     @layer components {
        section{
.subscribe{
    display: flex;
    justify-content: space-between;
}
:last-child{
    text-align: center;
}

        }
     }
</style>