---
//@ts-nocheck
---
<section >
 <h3>AskExperts</h3>
 <ul>
    <li>
        <a href="/index.html">Home</a>
      </li>
        <li>
        <a href="/case">Case study</a>
      </li>
        <li>
        <a href="/team">Team</a>
      </li>
        <li>
        <a href="/about">About</a>
      </li>
 </ul>
<a href="" class="button">Login</a>
</section>


<style>
     @layer components {
section{
display: grid;
 grid-template-columns: auto  1fr auto;
 margin-block: 30px;
 align-items: center;
>*{color: var( --color-secondary-01);}
    ul{
        display: flex;
        gap: 20px;
justify-content: center;
align-items: center;
li{
    list-style: none;
    >*{
          color: var( --color-secondary-01);
    text-decoration: none;
   
    }
  
}
    }
    >:last-child{
        display: flex;
        background-color: var(--color-primary-01);
        color: var(--color-primary-03);
       padding: 3px 15px;
        align-items: center;
        justify-content: center;
    }
}
     }
</style>