---
import { Image } from "astro:assets";
const {button, heading, image = "test.png"} = Astro.props;
import HeroBgWrapper from "./helpers/HeroBgWrapper.astro";
console.log(image)
---

<HeroBgWrapper imagePath={image} class="hero-bg" >
<section >
  <div class="hero">
   <div class="hero-content">
    <div>
      <h5 class="button">{button}</h5>
    </div>
   <h1>{heading}</h1>
  </div>
  </div>
</section>
</HeroBgWrapper>


<style>
  /* Styles her */
  @layer components {

    section{
      display: grid;
      grid-template-columns: subgrid;
      background-size: cover;
      grid-column: 1/-1;
        background-position: 50% 50%;}
    .hero {
        display: grid;
        object-fit: cover;
        grid-column: content;
        grid-template-columns: 2fr 1fr;
       
      .hero-content{
        display: flex;
        flex-direction: column;
        align-items: start;
        background-color:rgba(255, 255, 255, 0.85);
         backdrop-filter: blur(5.5px);
         gap: 21px;
         border-radius: 29px;
        padding: 48px 60px 58px 60px;
        margin-block: 100px;

            h5{
              background-color: var(--color-primary-01);
              padding:  0 15px;
                }
      }
    }
    @media (width< 800px){
      .hero{
        display: block;
      }
    }
  }
</style>
