---
//@ts-nocheck
import Phone from "@icons/phone.svg";
import Pin from "@icons/pin.svg";
import Clock from "@icons/clock.svg";
import { Image } from "astro:assets";

import ImageFirst from "@assets/images/process_01.webp";
import ImageSecond from "@assets/images/process_02.webp";
import ImageThird from "@assets/images/process_03.webp";
---

<section>
    <div>
    <div>
    <h5>Process</h5>
    <h2>Contact us. It´s easy!</h2>
    <p>Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate strategy foster collaborative.</p>
</div>
<ul>
    <li>
        <div>
     <Phone/>
     </div>
        <div>
            <p>Call Today</p>
            <p>+1 800 100 900</p>
        </div>
    </li>
     <li>
        <div>
        <Clock/>
        </div>
        <div>
            <p>Monday To Friday</p>
            <p>9AM - 5PM</p>
        </div>
    </li>
     <li>
        <div>
              <Pin/>
        </div>
      
        <div>
            <p>USA Office</p>
            <p>195 Devonshire St Boston, MA 02110</p>
        </div>
    </li>
</ul>
</div>
<div class="img_box">
 <Image src={ImageFirst} alt="CEO" />
  <Image src={ImageSecond} alt="CEO" />
   <Image src={ImageThird} alt="CEO" />


</div>
</section>

<style>
      @layer components {

section{
        display: grid;
        grid-template-columns: 1fr 2fr;
        padding-block: 10vw;
        >*{
            display: grid;
            justify-content:space-evenly;
         padding-block: 20px;
       
        }

ul{
        display: grid;
       
     
    li{
        display: flex;
        gap: 16px;
        align-items: center;

         >:first-child{
    border-radius:var(--svg-border-radius);
      background-color: #FFECBB;
      aspect-ratio: 1/1;
      width: 60px;
        height: auto;
      display: flex;
      align-items: center;
      justify-content: center;
      >*{
        color: #DEAA27;
      }
        }
        
        
    }
    >:nth-child(2){
        >:first-child{
            background-color: #A4EDA4;
            >*{
        color: #4EAF4E;
      }
    }
}

    >:nth-child(3){
        >:first-child{
            background-color: #EAEAEA;
            >*{
        color: #181818;
      }
    }
}
}
.img_box{
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap:20px;
    padding: 40px;
--square-pattern: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="red"><path d="M7.47662 4.02206C6.50635 3.05178 5.53232 2.07774 4.56205 1.10745C4.28482 0.83023 3.80905 0.83023 3.53183 1.10745C2.56155 2.07774 1.59128 3.04803 0.621002 4.02206C0.343781 4.29929 0.343781 4.77506 0.621002 5.05229C1.59128 6.02258 2.5653 6.99661 3.53558 7.9669C3.8128 8.24412 4.28857 8.24412 4.56579 7.9669C5.53607 6.99661 6.51009 6.02258 7.48037 5.05229C7.63022 4.90244 7.69016 4.73011 7.69016 4.56527C7.69016 4.55403 7.69016 4.54654 7.69016 4.5353C7.69016 4.52781 7.69016 4.51657 7.69016 4.50908C7.69016 4.34424 7.63022 4.17191 7.47662 4.02206ZM4.04881 6.41968C3.41944 5.79031 2.79382 5.16468 2.16445 4.5353C2.79382 3.90593 3.41944 3.2803 4.04881 2.65092C4.67818 3.2803 5.3038 3.90593 5.93317 4.5353C5.3038 5.16468 4.67818 5.79031 4.04881 6.41968Z"/></svg>');
      
      position: relative;

      &::before{
         --square-count: 12;
    --square-size: 1.34rem;
    
    --_square-size: var(--square-size, 1rem);
    --_square-half: calc(var(--square-size) / 2);
    --_square-sum: calc(var(--square-count) * var(--square-size));
    z-index: -1;
    content: '';
    position: absolute;
    inset:  10px 10px auto auto;
    /*inline-size: calc(var(--square-count) * 1.34rem - .67rem);*/
    inline-size: calc( round( var(--_square-sum), var(--_square-size) ) - var(--_square-half) );
    aspect-ratio: 1;
    background: linear-gradient(135deg, #BE965D, #976F40, #C99B61, #F0BE7B , #FFCB85, #EEBC79, #C0935B, #976F40) 0 0 / 100% 100%;
    mask:
      var(--square-pattern) 0 0 / var(--_square-size) var(--_square-size),
      var(--square-pattern) var(--_square-half) var(--_square-half) / var(--_square-size) var(--_square-size);
      }
        &::after {
    content: '';
    position: absolute;
    left: 1rem;
    bottom: 1rem;
    background: var(--color-primary-02);
    width: 250px;
    height: 100px;
    border-radius: 10px;
    z-index: -1;
  }


    >*{
        border-radius: var(--card-radius);
    }
    :nth-child(1){
        grid-column: 1/ span 1;
        grid-row: 1/ span 2;
    }
     :nth-child(2){
        grid-column: 2/ span 1;
    }
     :nth-child(3){
        grid-column: 2/ span 1;
        grid-row: 2/ span 1;
    }
}
      .icon-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    align-items: center;
    justify-items: center;
  }
}
  @media (width<900px){
    section{
      display: block;
      >*{
        display: grid;
        gap: 20px;
        >*{
          gap: 10px;
        }
      }
    }
  }

  }
</style>