---
//@ts-nocheck
import "@styles/main.css";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Archivo+Black&family=Ballet:opsz@16..72&family=Cabin:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Press+Start+2P&family=Roboto:ital,wght@0,100..900;1,100..900&family=UnifrakturMaguntia&display=swap" rel="stylesheet">
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>DIN TITEL HER. MÅSKE SOM PROP?</title>
    <style is:inline>
      @layer reset, global, components, overrides;
    </style>
  </head>
  <body>
    <header>
      <Header></Header>
    </header>
    <main>
      <slot />
    </main>
    <footer>
      <Footer></Footer>
    </footer>
  </body>
</html>

<style>

  header{
    background-color: rgba(38, 38, 38, 0.90);
     backdrop-filter: blur(16px);
     position:sticky;
     top:0;
     z-index: +1;
  }
</style>
